[Unit]
Description=Display Power Manager
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/NFCEmu/NFC-TerminalGUI-main/NFCD_GUI/display_power_manager.py
WorkingDirectory=/home/pi/NFCEmu/NFC-TerminalGUI-main/NFCD_GUI
Restart=always
RestartSec=5
User=pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=multi-user.target